<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="PanAndZoom" version="2.3.4" targetFramework="net472" />
  <package id="PixiEditor.ColorPicker" version="3.1.0" targetFramework="net472" />
  <package id="Wpf.Controls.PanAndZoom" version="2.3.4" targetFramework="net472" />
  <package id="Wpf.MatrixExtensions" version="2.3.4" targetFramework="net472" />
</packages>